body {
    background-color: #1F314F;
    display: flex;
    justify-content: center;
}

.bck {
    background-color: white;
    width: 320px;
    height: 497px;
    border-radius: 10px;
    margin-top: 152px;
    margin-bottom: 152px;
}

h2 {
    color: #1F314F;
    font-size: 22px;
    text-align: center;
}

p {
    color: #7D889E;
    font-size: 15px;
    text-align: center;
}

.qr-bck {
    background-color: #1F314F;
    margin-top: 16px;
    margin-left: 16px;
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.qrr {
    margin-top: 64px;
    margin-left: 64px;
}
